<h1>Listing play_player_xrefs</h1>

<table>
  <tr>
    <th>Play</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @play_player_xrefs.each do |play_player_xref| %>
  <tr>
    <td><%= play_player_xref.play_id %></td>
    <td><%= play_player_xref.user_id %></td>
    <td><%= link_to 'Show', play_player_xref %></td>
    <td><%= link_to 'Edit', edit_play_player_xref_path(play_player_xref) %></td>
    <td><%= link_to 'Destroy', play_player_xref, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Play player xref', new_play_player_xref_path %>
