<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Url:</b>
  <%= @user.url %>
</p>

<p>
  <b>Weibo:</b>
  <%= @user.weibo %>
</p>

<p>
  <b>Is player:</b>
  <%= @user.is_player %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Bio:</b>
  <%= @user.bio %>
</p>

<p>
  <b>Tel:</b>
  <%= @user.tel %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
